.card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  background-color: black;
  border-color:black;
}

.btn-primary:hover {
  background-color: gray;
  border-color:gray;
}

.modal-content {
  border-radius: 10px;
}

.list-group-item {
  border: none;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
}

.list-group-item:not(:last-child) {
  border-bottom: 1px solid #e9ecef;
}

body {
    background-color: black;
}

h2 {
    color: white;
}